    <search-component on-search="$ctrl.getData($event)" value="$ctrl.searchTxt"></search-component>
<div class="index-container">
  <div class="results">
      <div class="album" ng-repeat="album in $ctrl.albumns">
        <div class="album-background" style="background-image: url({{album.images[0].url}})"></div>
        <img class="album-image" src={{album.images[0].url}} />
        <div class="album-text">
          <span class="album-artists">
            <span ng-repeat="artist in album.artists">{{artist.name}}</span>
          </span>
          <h2 class="album-title">{{album.name}}</h2>
          <a class="album-link" href="{{album.external_urls.spotify}}" title=""><span class="album-link-button"><i class="fa fa-volume-up" aria-hidden="true"></i></span>Listen on Spotify</a>
        </div>
        <span class="album-button">
          <button class="button button-green">View Comments</button>
        </span>
      </div>
  </div>
</div>
