// Import from npm
@import 'normalize.css';

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

// fontawesome
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Index
$color-green: #03bb4f;
$color-black: #282828;
$color-background: #181818;
$color-white: #fff;
$color-background-dark: #212121;
$color-black-transparent: rgba(40, 40, 40, .9);

$max-width: 1140px;
$margin: 15px;
$font-size: 13px;
$font-size-small: 10px;
$letter-spacing: .2px;
$font-family: 'Open Sans', sans-serif;
$search-height: 26px;

// Results
$button-height: 30px;
$image-width: 200px;
$margin-big: 20px;
$color-grey: #9f9f96;
$color-background-grey: #404040;
$title-height: 40px;
$avatar-size: 56px;

// Media
$media-mobile: "only screen and (max-width : 576px)"; 

body {
  background: $color-background;
  color: $color-white;
  font-size: $font-size;
  letter-spacing: .2px;
  font-family: $font-family;

  section {
    position: relative;
    width: 100vw;
  }
}

//* Search
.search-container{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: $color-black;
  z-index: 100;
}
.search-icon{
  display: flex;
  flex-grow: 1;
  position: relative;
  line-height: $search-height;
  margin: $margin;
  max-width: $max-width;
  &::before{
    content: "\f002";
    position: absolute;
    color: $color-grey;
    font: normal normal normal 14px/1 FontAwesome;
    line-height: $search-height;
    left: $margin / 2;
  }

}
.search{
  line-height: $search-height;
  border-radius: calc(#{$search-height} / 2);
  width: 100%; 
  border: none;
  padding: 0 calc(#{$search-height} / 2) 0 $margin * 2;
}
.index-container{
  display: block;
  margin: $search-height + $margin * 3 auto; 
  width: 100%;
  max-width: $max-width;
}

//* Results
.results{
  margin: $margin;
}
.album{
  display: flex;
  position: relative;
  margin-bottom: $margin;
  background: $color-black-transparent;
  @media #{$media-mobile} {
    flex-direction: column;
  }
}
.album-background{
//  background-image: url('https://i.scdn.co/image/d8ec333974abb5987719025a55a7395a22becb79');
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  filter: blur(5px);
  z-index: -1;
  overflow: hidden;
}

.album-image{
  width: $image-width;
  height: $image-width;
  min-width: $image-width;
  @media #{$media-mobile} {
    margin: $margin auto;
  }
}
.album-text{
  margin: 0;
  padding: $margin-big 2 * $margin;
  display: flex;
  flex-direction: column;
  @media #{$media-mobile} {
    background: $color-background-dark;
  }
}
.album-button{
  position: absolute;
  right: $margin-big;
  bottom: $margin;
  @media #{$media-mobile} {
    position: initial;
    margin: $margin * 2;
    justify-content: center;
    display: flex;
  }
}
.album-artists{
  line-height: $button-height;
  font-size: $font-size - 2px;
  color: $color-grey;
  margin: 0;
}
.album-title{
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-size: $title-height;
  line-height: $title-height + 5px ;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.album-link{
  line-height: $button-height;
  position: absolute;
  bottom: $margin-big;
  display: flex;
  @media #{$media-mobile} {
    position: inherit;
    margin-top: $margin / 2;
  }
}
.album-link-button{
  background: $color-background-grey;
  height: $button-height;
  width: $button-height;
  border-radius: $button-height;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: $color-white;
  margin-right: $margin / 2;
}
.button{
  font-size: $font-size-small;
  text-transform: uppercase;
  font-weight: normal;
  background: $color-black;
  border: 2px solid $color-white;
  line-height: $button-height;
  border-radius: $button-height;
  color: $color-white;
  padding: 0 $button-height;
  &.album-back-to-search{
    padding-left: $margin;
    display: flex;
    align-items: center;  
    .fa{
      margin-right: $margin;
      font-size: 2em;
    }
  }
}
.button-green{
  border-color: $color-green;
}


a,
a:link,
a:hover,
a:active{
  color: $color-green;
  text-decoration: none;
}

// Album & comments
.album-container{
  margin: $search-height + $margin * 3 auto; 
}
.comments-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: $margin * 2;
  margin-bottom: $margin;
  align-items: center;
  @media #{$media-mobile} {
    margin-top: $margin;
  }
}
.comments-title {
  text-transform: uppercase;
  color: $color-grey;
  margin: 0;
}
.comments-add{
  color: $color-green;
}
.comments-add-button{
  background: $color-background-grey;
  height: $button-height;
  width: $button-height;
  border-radius: $button-height;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: $color-white;
  margin-left: $margin / 2;
}

.comment-list{
  margin: 0;
  padding: 0;
}
.comment{
  list-style: none;
  display: flex;
  background: $color-black; 
  margin-bottom: $margin / 2;
}
.comment-avatar{
  margin: $margin $margin-big;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-size / 2;
  min-width: $avatar-size;
}
.comment-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: $margin $margin-big $margin 0;
}
.comment-email{
  font-size: $font-size-small;
  color: $color-grey;
  margin-bottom: $margin/2;
}
.comment-text{
  color: $color-white;
  line-height: normal;
}
.comments-load-more{
  display: flex;
  justify-content: flex-end;
  margin-top: $margin;
}
.comment-form{
  display: flex;
  background: $color-black;
  margin-bottom: $margin;
  @media #{$media-mobile} {
    position: relative;
    flex-direction: column;
  }
}
.comment-form-avatar{
  margin: $margin $margin-big;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-size / 2;
  min-width: $avatar-size;
  @media #{$media-mobile} {
    position: absolute;
    top: $margin;
    left: $margin;
    width: $font-size + $margin + 2px;
    height: $font-size + $margin + 2px;
    margin: 0;
    min-width: 0;
  }
}
.comment-form-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: $margin $margin-big $margin 0;
  @media #{$media-mobile} {
    margin: $margin;
  }
}
.comment-form-email,
.comment-form-text{
  background: $color-background-dark;
  color: $color-green;
  border: 1px solid $color-grey;
  margin-bottom: $margin / 2;
  padding: $margin / 2 $margin;
}
.comment-form-email{
  border-radius: $margin;
  @media #{$media-mobile} {
    margin-left: $font-size + $margin * 1.5 + 2px
  }
}
.comment-form-text{
  border-radius: 4px;
}
.comment-form-submit{
  display: flex;
  justify-content: flex-end;
  @media #{$media-mobile} {
    justify-content: center;
  }
}
